/* 
public/css/form.css
表单样式表
*/

/* 表单布局 */
#setup {
    gap: var(--gap-big);
}

form.option {
    gap: var(--gap-big);
}

form.option div {
    align-items: center;
    height: var(--control-height);
    gap: var(--gap-medium);
}

form.option div label {
    white-space: nowrap;
}

form.option div input {
    overflow: hidden;
    background: none !important;
    width: 100%;
}

form.option div input[type="text"]{
    color: var(--text-color);
    width: 100%;
    height: 100%;
    padding: calc(var(--control-height) / 4) !important;
    border-radius: var(--border-radius-big);
    border: 1px var(--input-border-color) solid;
    background-color: var(--input-color) !important;
}

form.option div.color {
    border: 1px var(--input-border-color) solid;
    border-radius: 10px;
    overflow: hidden;
    gap: var(--gap-none);
    border-radius: var(--border-radius-big);
    background-color: var(--input-color) !important;
}

form.option div.color input[type="text"] {
    background: none !important;
}

input[type="text"] {
    padding: calc(var(--control-height) / 4) !important;
}
div.range {
    height: auto !important;
    gap: var(--gap-small) !important;
}
form.option div.color input[type="text"] {
    border-radius: 0;
    border: none;
    text-transform: uppercase;
}

form.option div.color input[type="text"]:focus,
input:not(.color input):focus {
    border: none;
    outline: none;
}
 
.color:focus-within,
input:not(.color input):focus {
    outline: 2px var(--highlight-color) solid;
}
.range .range-text, .range-slider {
    height: auto !important;
}
.range-text {
    display: flex;
    gap: var(--gap-small);
    align-items: center;
    justify-content: space-between;
}
.range-text span {
    color: var(--highlight-color);
    font-weight: bold;
}
input[type="range"] {
    outline: none !important;
}
.range-slider {
    width: 100%;
    position: relative;
}
/* input[type="range"] 滑杆 */
input[type="range"] {
        top: 0;
    height: 15px !important;
    width: 100%;
    height: var(--control-height);
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--border-radius-big);
    overflow: hidden;
    cursor: pointer;
    z-index: 9999999;
    position: absolute;
}
input[type="range"]::-webkit-slider-thumb, input[type="range"]::-webkit-media-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:none;
    cursor: pointer;
    z-index: 9999999;
    position: relative;
    box-shadow: none;
}
.slide-rail {
    position: absolute;
    top: 0;
    height: 15px !important;
    border-radius: 15px;
    width: 100%;
    background-color: var(--background-color-dark);
}
.slider {
    height: 100% !important;
    border-radius: 15px;
    background-color: var(--highlight-color);
}
input[type="color"] {
    width: calc(var(--control-height) + (var(--control-height) / 4)) !important;
    height: calc(var(--control-height) - var(--checkbox-slider-padding) - var(--checkbox-slider-padding)) !important;
    margin: var(--checkbox-slider-padding);
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    border-radius: calc(var(--border-radius-big) - var(--checkbox-slider-padding));
}

input[type="color"]::-webkit-color-swatch-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none !important;
    display: block;
    border-radius: var(--border-radius-big);
}

input[type="color"]::-webkit-color-swatch {
    width: 100%;
    height: 100%;
    border: none !important;
    display: block;
}

form.option button {
    padding: calc(var(--control-height) / 4) !important;
    border-radius: var(--border-radius-big);
    background-color: var(--highlight-color);
    color: white;
    border: none;
    height: var(--control-height);
}

form.option input[type="checkbox"] {
    display: none;
}

.checkbox-slider label {
    display: block;
    width: calc(var(--control-height) * 1.8);
    height: 100%;
    background-color: var(--background-color-dark) !important;
    border: var(--input-border-color) solid 1px;
    border-radius: calc(var(--control-height) / 2);
    position: relative;
    cursor: pointer;
}

.checkbox-slider label::before {
    content: "";
    position: absolute;
    width: calc(var(--control-height) - var(--checkbox-slider-padding) - var(--checkbox-slider-padding));
    height: calc(var(--control-height) - var(--checkbox-slider-padding) - var(--checkbox-slider-padding));
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: var(--checkbox-slider-padding);
    transition: 0.4s;
}

.checkbox-slider input[type="checkbox"]:checked+label::before {
    left: calc(100% - var(--control-height) + var(--checkbox-slider-padding));
}

.checkbox-slider input[type="checkbox"]:checked+label {
    background-color: var(--highlight-color) !important;
}

.box-radio {
    display: flex;
    gap: 0 !important;
    border-radius: var(--border-radius-big);
    overflow: hidden;
    background-color: var(--input-color) !important;
    border: 1px var(--input-border-color) solid;
}

.custom-radio {
    display: flex;
    cursor: pointer;
    width: 100%;
    position: relative;
}

.custom-radio input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    position: absolute;
}

.custom-radio input[type="radio"]:checked {
    background-color: var(--highlight-color) !important;
    border-radius: 0 !important;
}

.custom-radio input[type="radio"]:checked+span {
    color: var(--text-reverse-color) !important;
}

@media (prefers-color-scheme: dark) {
    .custom-radio input[type="radio"]:checked+span {
        color: var(--text-color) !important;
    }
}

.custom-radio span {
    text-align: center;
    line-height: var(--control-height);
    display: block;
    width: 100%;
    height: 100%;
    position: -webkit-sticky;
    z-index: 99999;
}