#save {
    display: flex;
    flex-direction: row;
    gap:20px;
}
#save button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding:calc(var(--control-height) / 4) calc(var(--control-height) / 2) !important;
    border-radius: var(--border-radius-big);
    height: var(--control-height);
}