/* 引入form.css */
@import url('form.css');
@import url('save.css');

#body  {
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 0 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}