/* 
styles/globals.css
通用样式
*/
@import url('root.css');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
}

body {
  margin: 30px auto;
  overflow-x: hidden;
  max-width: var(--max-width);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}