/* 
styles/root.css
变量
*/

/* 尺寸变量 */
:root {
    --max-width: 1100px;
    --control-height:48px;
    --checkbox-slider-padding:5px;
}
/* 参数变量 */
:root {
    --border-radius-big: 20px !important;
    --border-radius-medium: 10px !important;
    --border-radius-small:5px !important;
    --border-radius-none:0 !important;
    --gap-big:30px !important;
    --gap-medium:20px !important;
    --gap-small:10px !important;
    --gap-none:0 !important;
}

/* 亮色模式 */
@media (prefers-color-scheme: light) {
    html {color-scheme: light;}
    :root {
        --background-color: hsla(0, 0%, 92%, 1);
        --error-color: hsla(10, 86%, 30%, 0.9);
        --success-color: hsla(145, 86%, 30%, 0.9);
        --highlight-color: hsla(218, 100%, 45%, 1);
        --input-color: hsla(0, 0%, 100%, 1);
        --input-border-color: hsla(0, 0%, 0%, 0.148);
        --text-color:hsla(0, 0%, 0%, 1);
        --text-reverse-color:hsla(0, 0%, 100%, 1);
    }
}

/* 暗色模式 */
@media (prefers-color-scheme: dark) {
    html {color-scheme: dark;}
    :root {
        --background-color: hsla(0, 0%, 0%, 1);
        --error-color: hsla(10, 86%, 30%, 0.9);
        --success-color: hsla(145, 86%, 30%, 0.9);
        --highlight-color: hsla(218, 100%, 45%, 1);
        --input-color: hsla(0, 0%, 22%, 1);
        --input-border-color: hsla(0, 0%, 100%, 0.2);
        --text-color:hsla(0, 0%, 100%, 1);
        --text-reverse-color:hsla(0, 0%, 0%, 1);
    }
}